node_modules/
Portfolio/node_modules/
Portfolio/dist/
Portfolio/*.tsbuildinfo
Portfolio/*.d.ts
Portfolio/livo demo.mp4
Portfolio/vite.config.js
Portfolio/audio-analyzer.png
Portfolio/ezeats.png
Portfolio/resume (2).pdf
Portfolio/script.js
Portfolio/styles.css
Portfolio/profile.png
Portfolio/resume.pdf
